.wrap{
    border:1px solid #ddd;
    margin-bottom:20px;
    background: royalblue;
  }
  [class^="box"]{
    width:100px;
    height:100px;
    background:rgba(141, 75, 246, 0.8);
    color:#fff;
    line-height:100px;
    text-align:center;
    float: left;
    overflow: hidden;
  }
  
  .box-left{
    float:left;
    margin-right: 20px;
    
  }
  .box-right{
    float:left;
  }

