
h2,
p{
    margin: 0;
}

.card-item a{
    width: 288px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

    text-decoration: none;
    color: #29363D;
    display: block;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.card-item img{
    width: 100%;
    aspect-ratio: 288/196;
    /* padding-top도 이미지 비율 */
    object-fit:cover;
    vertical-align: top;
    /* 이미지 여백 제거 */
}

.card-text{
    /* background: gold; */
    padding: 24px 16px 16px;
}

.card-text .card-title{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text .card-title +p{
    font-size: 12px;
    color: #5A6A72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    margin: 12px 0 16px;
}

.underline{
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    padding-left: 6px;
}