
body{

    
}

.hamster{
    width: 400px;
    height: 400px;
    background:rgb(1, 1, 1);
    margin: auto;
    
}

.hamster .face{
    width: 212px;   
    height: 120px;
    background: white;
    border-radius: 75px 75px 75px 75px;
}