*{box-sizing: border-box;}
header{background: skyblue;}
section{background: rgb(54, 54, 92);}
aside{background: lime;}
footer{background: salmon;}

.wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    background: #eee;
    justify-content: space-between;
}

.wrap2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}

header,
footer{
    flex-basis: 50px;
}

.wrap2 section{
    flex-grow: 1;
}

.wrap2 aside{
    flex-basis: 200px;
}

header,
section,
aside,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    }