header{background: skyblue;}
section{background: rgb(54, 54, 92);}
aside{background: lime;}
footer{background: salmon;}

.container{
    display: grid;
    grid-template-rows: 50px 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "header header"
    "section aside"
    "footer footer";
    gap: 10px;
    /* align-items: center;
    justify-items: center; */
}
.container header{
    grid-area: header;
}

.container section{
    grid-area: section;
}

.container aside{
    grid-area: aside;
}

.container footer{
    grid-area: footer;
}
