.container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
    grid-template-areas: 
    "a a b"
    "c d b"
    "e f f ";
    width: 500px;
    height: 500px;
}

.a{background: royalblue ; grid-area: a;}
.b{background: gold; grid-area: b;}
.c{background: slateblue; grid-area: c;}
.d{background: sandybrown; grid-area: d;}
.e{background: salmon; grid-area: e;}
.f{background: seagreen;grid-area: f;}