*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./images/bg.png);
}
.container{
    width: 400px;
    height: 800px;
    color: white;
    
}

.container img {
    
}

.text-wrap{
    background:rgb(148 90 46) ;
    border-radius: 0px 0px 30px 30px;

}