/* reset */
ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn-open {
  width: 100px;
  height: 36px;
  border-radius: 40px;

  border: 0;
  background-color: #d97652;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.popup {
  width: 300px;
  height: 240px;
  background-color: #f2e9d8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.menu li {
  border-bottom: 1px solid #fff;
}
.menu li a {
  display: block;
  padding: 10px;
}

.btn-close {
  border: 0;
  background-color: white;
}