.container{
    display: grid;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 200px 200px;
    background: #eee;
    /* grid-auto-flow: row; */
}

.item{
    background: skyblue;
    border: 5px solid blue;

}

.item:first-child{
    background-color: gold;
    grid-column: 2/span2;
    /* 1/2/1/span2 2에서 시작해서 2칸 먹기 */
}