@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
}

body,h1,h2{
    margin: 0px;
    padding: 0px;
}

body{
    min-width: fit-content;
}

.title-box{
    text-align: right;
}

h1{
    font-size: 36px;
    font-weight: bold;
    /* 글꼴 기울임 */
    font-style: italic;

}

h2{
    font-size: 20px;
    font-weight: lighter;
    color: #282828;
    /* 아래쪽에만 선 그리기 */
    border-bottom: 3px solid #ebebeb;
    margin-bottom: 16px;
    padding-bottom: 5px;
}

/*  */
.mainbox{
    border: 1px double #ebebeb;
    width: 610px;
    /* 박스를 가운데로 */
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    margin: 30px;
    /* 박스 그림자 . 가로축-+ . */
    /* box-shadow: 0 10px 50px 0 rgb(0, 0, 0,0.3); */
    box-shadow: 0 20px 50px 0 rgb(241, 160, 160);

}

.name-text{
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}

/*  */
section{
    margin-bottom: 24px;
}

.about-me-text{
    font-size: 10px;
    /* 줄 간 간격 */
    line-height: 16px;
}


/*  */
.float-wrap{
    /* float로 띄워져있는 요소들을 다 묶어주고 다음 요소들에게 영향이 가지 않도록 */
    overflow: hidden;
}

.title-text{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text{
    font-size: 9px;
}

.desc-subtext{
    font-size: 9px;
    color: #282828;
    padding-left: 16px;
}

.sns-wrap{
    text-align: right;
}

.sns-img{
    width: 12px;
    height: 12px;

}

/* 하단 */
footer{
    /* 중앙정렬 */
    text-align: center;
    background-color: #1e1e1e;
    /* 글씨 하얗게 */
    color: #919191;
    font-size: 12px;
    padding: 20px;
}
