header{
   background: skyblue;
   height: 100px;
   margin-bottom: 20px;
}

section{
    background: rgb(181, 170, 255);
    float: left;
    width: 70%;
    height: 300px;
    border: 10px solid black;
    box-sizing: border-box;
}

aside{
    background: rgb(167, 238, 167);
    height: 300px;
    margin-bottom: 20px;
}

footer{
    background: rgb(250, 184, 178);
    height: 100px;
    clear: both;
}